/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * masqualero:
 *   - http://typekit.com/eulas/00000000000000003b9b201a
 *   - http://typekit.com/eulas/00000000000000003b9b201b
 *   - http://typekit.com/eulas/00000000000000003b9b201c
 *   - http://typekit.com/eulas/00000000000000003b9b201d
 *   - http://typekit.com/eulas/00000000000000003b9b201e
 *   - http://typekit.com/eulas/00000000000000003b9b201f
 *   - http://typekit.com/eulas/00000000000000003b9b2020
 *   - http://typekit.com/eulas/00000000000000003b9b2021
 *   - http://typekit.com/eulas/00000000000000003b9b2022
 *   - http://typekit.com/eulas/00000000000000003b9b2023
 *   - http://typekit.com/eulas/00000000000000003b9b2024
 *   - http://typekit.com/eulas/00000000000000003b9b2025
 * masqualero-stencil:
 *   - http://typekit.com/eulas/00000000000000003b9b2027
 * objektiv-mk1:
 *   - http://typekit.com/eulas/00000000000000003b9b469d
 *   - http://typekit.com/eulas/00000000000000003b9b469e
 *   - http://typekit.com/eulas/00000000000000003b9b469f
 *   - http://typekit.com/eulas/00000000000000003b9b46a0
 *   - http://typekit.com/eulas/00000000000000003b9b46a1
 *   - http://typekit.com/eulas/00000000000000003b9b46a2
 *   - http://typekit.com/eulas/00000000000000003b9b46a4
 *   - http://typekit.com/eulas/00000000000000003b9b46a3
 *   - http://typekit.com/eulas/00000000000000003b9b46a5
 *   - http://typekit.com/eulas/00000000000000003b9b46a6
 *   - http://typekit.com/eulas/00000000000000003b9b46a8
 *   - http://typekit.com/eulas/00000000000000003b9b46a7
 *   - http://typekit.com/eulas/00000000000000003b9b46aa
 *   - http://typekit.com/eulas/00000000000000003b9b46a9
 *
 * © 2009-2020 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2020-07-14 17:44:24 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=atl7amy&ht=tk&f=26961.26962.26963.26964.26965.26966.26967.26968.26969.26970.26971.26972.26973.26974.39450.39451.39452.39453.39454.39455.39456.39457.39458.39459.39460.39461.39463&a=25772176&app=typekit&e=css");

@font-face {
font-family:"objektiv-mk1";
src:url("https://use.typekit.net/af/1e6b4b/00000000000000003b9b469d/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n2&v=3") format("woff2"),url("https://use.typekit.net/af/1e6b4b/00000000000000003b9b469d/27/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n2&v=3") format("woff"),url("https://use.typekit.net/af/1e6b4b/00000000000000003b9b469d/27/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n2&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:200;
}

@font-face {
font-family:"objektiv-mk1";
src:url("https://use.typekit.net/af/002f08/00000000000000003b9b469e/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i2&v=3") format("woff2"),url("https://use.typekit.net/af/002f08/00000000000000003b9b469e/27/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i2&v=3") format("woff"),url("https://use.typekit.net/af/002f08/00000000000000003b9b469e/27/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i2&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:200;
}

@font-face {
font-family:"objektiv-mk1";
src:url("https://use.typekit.net/af/558370/00000000000000003b9b469f/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/558370/00000000000000003b9b469f/27/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/558370/00000000000000003b9b469f/27/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n3&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:300;
}

@font-face {
font-family:"objektiv-mk1";
src:url("https://use.typekit.net/af/75fb6d/00000000000000003b9b46a0/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i3&v=3") format("woff2"),url("https://use.typekit.net/af/75fb6d/00000000000000003b9b46a0/27/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i3&v=3") format("woff"),url("https://use.typekit.net/af/75fb6d/00000000000000003b9b46a0/27/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i3&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:300;
}

@font-face {
font-family:"objektiv-mk1";
src:url("https://use.typekit.net/af/aed562/00000000000000003b9b46a1/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/aed562/00000000000000003b9b46a1/27/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/aed562/00000000000000003b9b46a1/27/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;
}

@font-face {
font-family:"objektiv-mk1";
src:url("https://use.typekit.net/af/528642/00000000000000003b9b46a2/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/528642/00000000000000003b9b46a2/27/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/528642/00000000000000003b9b46a2/27/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"objektiv-mk1";
src:url("https://use.typekit.net/af/e1a691/00000000000000003b9b46a4/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i5&v=3") format("woff2"),url("https://use.typekit.net/af/e1a691/00000000000000003b9b46a4/27/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i5&v=3") format("woff"),url("https://use.typekit.net/af/e1a691/00000000000000003b9b46a4/27/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i5&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:500;
}

@font-face {
font-family:"objektiv-mk1";
src:url("https://use.typekit.net/af/840b40/00000000000000003b9b46a3/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/840b40/00000000000000003b9b46a3/27/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/840b40/00000000000000003b9b46a3/27/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;
}

@font-face {
font-family:"objektiv-mk1";
src:url("https://use.typekit.net/af/48b26c/00000000000000003b9b46a5/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/48b26c/00000000000000003b9b46a5/27/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/48b26c/00000000000000003b9b46a5/27/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"objektiv-mk1";
src:url("https://use.typekit.net/af/98729c/00000000000000003b9b46a6/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/98729c/00000000000000003b9b46a6/27/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/98729c/00000000000000003b9b46a6/27/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;
}

@font-face {
font-family:"objektiv-mk1";
src:url("https://use.typekit.net/af/e439a3/00000000000000003b9b46a8/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i8&v=3") format("woff2"),url("https://use.typekit.net/af/e439a3/00000000000000003b9b46a8/27/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i8&v=3") format("woff"),url("https://use.typekit.net/af/e439a3/00000000000000003b9b46a8/27/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i8&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:800;
}

@font-face {
font-family:"objektiv-mk1";
src:url("https://use.typekit.net/af/f94052/00000000000000003b9b46a7/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n8&v=3") format("woff2"),url("https://use.typekit.net/af/f94052/00000000000000003b9b46a7/27/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n8&v=3") format("woff"),url("https://use.typekit.net/af/f94052/00000000000000003b9b46a7/27/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n8&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:800;
}

@font-face {
font-family:"objektiv-mk1";
src:url("https://use.typekit.net/af/b861f6/00000000000000003b9b46aa/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i9&v=3") format("woff2"),url("https://use.typekit.net/af/b861f6/00000000000000003b9b46aa/27/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i9&v=3") format("woff"),url("https://use.typekit.net/af/b861f6/00000000000000003b9b46aa/27/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i9&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:900;
}

@font-face {
font-family:"objektiv-mk1";
src:url("https://use.typekit.net/af/63d11d/00000000000000003b9b46a9/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/63d11d/00000000000000003b9b46a9/27/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/63d11d/00000000000000003b9b46a9/27/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n9&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:900;
}

@font-face {
font-family:"masqualero";
src:url("https://use.typekit.net/af/329721/00000000000000003b9b201a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff2"),url("https://use.typekit.net/af/329721/00000000000000003b9b201a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff"),url("https://use.typekit.net/af/329721/00000000000000003b9b201a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:800;
}

@font-face {
font-family:"masqualero";
src:url("https://use.typekit.net/af/3e8e4a/00000000000000003b9b201b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3") format("woff2"),url("https://use.typekit.net/af/3e8e4a/00000000000000003b9b201b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3") format("woff"),url("https://use.typekit.net/af/3e8e4a/00000000000000003b9b201b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:800;
}

@font-face {
font-family:"masqualero";
src:url("https://use.typekit.net/af/21f8d4/00000000000000003b9b201c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/21f8d4/00000000000000003b9b201c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/21f8d4/00000000000000003b9b201c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"masqualero";
src:url("https://use.typekit.net/af/67c426/00000000000000003b9b201d/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/67c426/00000000000000003b9b201d/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/67c426/00000000000000003b9b201d/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;
}

@font-face {
font-family:"masqualero";
src:url("https://use.typekit.net/af/899517/00000000000000003b9b201e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/899517/00000000000000003b9b201e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/899517/00000000000000003b9b201e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:600;
}

@font-face {
font-family:"masqualero";
src:url("https://use.typekit.net/af/2fb3e9/00000000000000003b9b201f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff2"),url("https://use.typekit.net/af/2fb3e9/00000000000000003b9b201f/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff"),url("https://use.typekit.net/af/2fb3e9/00000000000000003b9b201f/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:600;
}

@font-face {
font-family:"masqualero";
src:url("https://use.typekit.net/af/e9683c/00000000000000003b9b2020/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/e9683c/00000000000000003b9b2020/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/e9683c/00000000000000003b9b2020/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:900;
}

@font-face {
font-family:"masqualero";
src:url("https://use.typekit.net/af/2116e9/00000000000000003b9b2021/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("woff2"),url("https://use.typekit.net/af/2116e9/00000000000000003b9b2021/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("woff"),url("https://use.typekit.net/af/2116e9/00000000000000003b9b2021/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:900;
}

@font-face {
font-family:"masqualero";
src:url("https://use.typekit.net/af/df555e/00000000000000003b9b2022/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/df555e/00000000000000003b9b2022/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/df555e/00000000000000003b9b2022/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;
}

@font-face {
font-family:"masqualero";
src:url("https://use.typekit.net/af/a22df8/00000000000000003b9b2023/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/a22df8/00000000000000003b9b2023/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/a22df8/00000000000000003b9b2023/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:300;
}

@font-face {
font-family:"masqualero";
src:url("https://use.typekit.net/af/1f6ddd/00000000000000003b9b2024/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff2"),url("https://use.typekit.net/af/1f6ddd/00000000000000003b9b2024/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff"),url("https://use.typekit.net/af/1f6ddd/00000000000000003b9b2024/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:300;
}

@font-face {
font-family:"masqualero";
src:url("https://use.typekit.net/af/077ea4/00000000000000003b9b2025/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/077ea4/00000000000000003b9b2025/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/077ea4/00000000000000003b9b2025/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"masqualero-stencil";
src:url("https://use.typekit.net/af/9da8ec/00000000000000003b9b2027/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/9da8ec/00000000000000003b9b2027/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/9da8ec/00000000000000003b9b2027/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

.tk-objektiv-mk1 { font-family: "objektiv-mk1",sans-serif; }
.tk-objektiv-mk2 { font-family: "objektiv-mk2",sans-serif; }
.tk-objektiv-mk3 { font-family: "objektiv-mk3",sans-serif; }
.tk-masqualero { font-family: "masqualero",sans-serif; }
.tk-masqualero-groove { font-family: "masqualero-groove",sans-serif; }
.tk-masqualero-stencil { font-family: "masqualero-stencil",sans-serif; }
