#frame {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
    grid-auto-rows: minmax(100px, auto);
}
#canvas-container {
    grid-column: 1;
    grid-row: 1;
}
#output-container {
    grid-column: 3;
    grid-row: 1;
}
#toolbox-container {
    grid-column: 1;
    grid-row: 2;
}
#spacer {
    grid-column: 2;
    grid-row: 2;
}
#social-sharer-container {
    grid-column: 3;
    grid-row: 2;
}
#label-buttons-container {
    display: grid;
    width: 512px;
    grid-template-columns: repeat(9, 50px);
    justify-content: space-between;
}
#tool-buttons-container {
    display: grid;
    width: 512px;
    grid-template-columns: repeat(4, 50px);
    justify-content: space-between;
}
.class-selector, .build-button, .tool-selector {
    border-radius:15px;
    font-size: 30px;
}
#build-button-container {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    align-items: center;
}
.app.waiting {
    cursor: wait;
}