body {
    background-color: #232323;
    font-family: objektiv-mk1, Roboto, sans-serif;
    color: white;
    margin: 0;
    height: 100vh;
    cursor: default;
}
#root {
    height: 100%
}
#app {
    display: grid;
    grid-template-columns: 272px 1fr;
    grid-template-rows: 80px 1fr;
    height: 100%;
}
#title-frame {
    grid-column: 1 / span 2;
    grid-row: 1;
    border:0px solid #493F4C;
    border-bottom-width: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    padding-left:24px;
}
#interior-frame {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 512px 1fr 512px 1fr;
    grid-template-rows: 26px 16px 512px 24px 40px 24px 18px 24px 1fr;
    padding-top: 24px;
    border: 0px solid #493F4C;
    border-left-width: 2px;
}
#side-panel-frame {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}
#title-text-container {
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.6px;
}
#logo-container {
    padding-right:48px;
}
.picture-header {
    font-weight: bold;
    font-size: 18px;
    vertical-align: middle;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    border: 0px solid #EBE8F2;
    border-bottom-width: 1px;
}
#canvas-header {
    grid-column: 2;
    grid-row: 1;
}
#output-header {
    grid-column: 4;
    grid-row: 1;
}
#canvas-container {
    grid-column: 2;
    grid-row: 3;
}
#output-container {
    grid-column: 4;
    grid-row: 3;
}
#toolbox-container {
    grid-column: 2;
    grid-row: 3;
}
#canvas-actions-container {
    grid-column: 2;
    grid-row: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#output-actions-container {
    grid-column: 4;
    grid-row: 5;
    display: flex;
    align-items: center;
    justify-content: right;
    grid-column-gap: 24px;
}
#canvas-explainer-title-container {
    grid-column: 2;
    grid-row: 7;
    font-weight: bold;
}
#output-explainer-title-container {
    grid-column: 4;
    grid-row: 7;
    font-weight: bold;
}
#canvas-explainer-text-container {
    grid-column: 2;
    grid-row: 9;
}
#output-explainer-text-container {
    grid-column: 4;
    grid-row: 9;
}
.explainer-text-container {
    font-size: 14px;
    line-height: 24px;
}
.explainer-text-container > p {
    margin-top: 0px;
}
#label-buttons-container {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 16px;
}
#tool-buttons-container {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 16px;
}
#brush-size-slider-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#slider-container {
    margin-left: 16px;
}
.toolbox-section-label {
    font-weight: bold;
    font-size: 21px;
    letter-spacing: -0.2px;
    margin-bottom: 16px;
    margin-top: 24px;
}
#reset-button-container {
    margin-top: 42px;
}
#logo {
    margin-top: 56px;
    margin-left: 36px;
}
.button-image {
    display: block;
    margin: auto;
    width: 20px;
    height: 20px;
}
.selector {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 6px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 8px;
    cursor: pointer;
}
.selector.selected {
    background: #FFF;
    border-radius: 50px;
    color: black;
    font-weight: bold;
}
.selector.unselected:hover {
    font-weight: bold;
}
.selector-button {
    cursor: pointer;
    border-radius: 50px;
    background-color: lightgray;
}
.selector-image {
    margin-right: 24px;
}
.selector-name {
    text-transform: capitalize;
    /* HACK: without this, the text is no aligned relative to the button, because the box model
       applies padding around the content, including the letters that hang below the bottom of the
       text line-height, e.g. the "y" in "Sky". I don't know how to fix this issue without
       resorting to flexbox-block layout (which creates problems with button width), so I've just
       hacked around it here by bumping the text two pixels.
    */
    position: relative;
    top: 2px;
}
.app.waiting {
    cursor: wait;
}
input[type=range] {
    background: transparent;
}
input[type=range]::-moz-range-track {
    background-color: #F2F0F6;
}
input[type=range]::-webkit-slider-runnable-track {
    background-color: #F2F0F6;
}
input[type=range]::-webkit-slider-thumb {
    border-width: 0px;
}
input[type=range]::-moz-range-thumb {
    border-width: 0px;
}
.fancy-button {
    border-radius: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.857143px;
    cursor: pointer;
}
.fancy-button-label-container {
    margin-left: 10px;
}
.fancy-button-image-container {
    vertical-align: middle;
}
.fancy-button.filled {
    background: #15BDD1;
}
.fancy-button.unfilled {
    background: transparent;
    border: 2px solid white;
}
.fancy-button.filled:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 20px rgba(255, 255, 255, 0.25);
}
.fancy-button.unfilled:hover {
    background: white;
    color: black;
}
#placeholder-picture {
    height: 512px;
    width: 512px;
    background-image: url("/static/img/default.png");
    background-size: 512px;
}